.space {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #1d2130;
  line-height: 57.6px;
  width: 50vw;
  margin-left: 50px;
}

.about-us-space {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 60px;
}
.line-space {
  background-color: #1d2130;
  width: 72px;
  height: 2px;
}
.about-space {
  color: #1d2130;
  font-weight: 700;
  font-size: 16px;
}
.space {
  padding: 0 60px;
}
.program-cards {
  /* padding: 0 60px; */
  display: flex;
  gap: 20px;
}
.e {
  padding: 0 45px;
}
.scroll-container-program {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 60px;
  padding-bottom: 10px;
}

.scroll-container-program::-webkit-scrollbar {
  height: 3px;
}

.scroll-container-program::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.scroll-container-program::-webkit-scrollbar-thumb {
  background-color: #9394c2;
  border-radius: 4px;
}

.scroll-container-program::-webkit-scrollbar-thumb:hover {
  background-color: #2b1770;
}

@media (max-width: 768px) {
  .space-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 8px;
  }
  .line-space {
    width: 30px;
  }
  .about-space {
    font-size: 12px;
  }
  .about-us-space {
    padding: 0 15px;
  }
  .space {
    padding: 10px;
    width: 100vw;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    margin-left: 0;
  }
  .program-cards {
    gap: 10px;
  }
  .scroll-container-program {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 15px;
  }
  .e {
    padding: 0 15px;
  }
}
