.homepage-container {
  padding: 10px 65px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.responsibilities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.difference h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.difference-bars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.difference-bar {
  width: 18px;
  height: 2px;
  background-color: black;
}

.difference-bar:nth-child(1) {
  background-color: #9394c2;
}
.difference-bar:nth-child(2) {
  background-color: #2b1770;
}
.difference-bar:nth-child(3) {
  background-color: #dd241f;
}
/* 
.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.scroll-container::-webkit-scrollbar {
  height: 3px !important;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #2b1770;
} */

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}

.carousel-wrapper {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
  font-size: 16px;
}

.scroll-button.left {
  position: absolute;
  left: 0;
}

.scroll-button.right {
  position: absolute;
  right: 0;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-card {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.project h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #1d2130;
}

.project p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: #525560;
  line-height: 23.44px;
}

.discover-container {
  text-align: center;
}

.discover {
  display: inline-block;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid #31589d;
  font-family: Lora, serif;
  font-size: 24px;
  color: #460269;
  font-weight: 700;
}

.discover a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .homepage-container {
    padding: 10px 15px 20px 15px;
  }

  .project-wrapper {
    gap: 15px;
  }

  .project-card {
    gap: 10px;
    justify-content: unset;
  }

  .project h3 {
    font-size: 20px;
  }

  .project p {
    font-size: 16px;
  }

  .discover {
    font-size: 12px;
    padding: 10px 20px;
  }

  .carousel-container {
    display: flex;
    align-items: unset;
    position: unset;
    width: 100%;
    overflow: unset;
    flex-wrap: unset;
  }

  .carousel-wrapper {
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
  .scroll-button {
    display: none;
  }
}
